@import '../../variables.scss';

.dashboard {
    margin-left: rem(91);
    padding: rem(30) rem(110);
    flex: 1 0 auto;
    min-width: 0;

    .user-stats-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        min-width: 0;
        
        .stats {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: space-between;
            grid-column: 1 / 4;
            gap: 2rem;

            .stats-item {
                display: block;
                overflow: hidden;
                border-radius: 1rem;

                &:nth-child(1) {
                    grid-column : 1 / 4;
                }
            }
        }

        .cards {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            gap: 1rem;
            grid-column: 4;
        }
    }
}