@import '../../variables.scss';

.dashboard {
    margin-left: rem(91);
    padding: rem(30) rem(110);
    flex: 1 0 auto;
    min-width: 0;

    .user-stats-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        min-width: 0;
        

        .stats {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: space-between;
            grid-column: 1 / 4;

            
            .barchart {
                margin-bottom: 2rem;
                grid-column : 1 / 5;
            }

        }

        .cards {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            gap: 1rem;
            grid-column: 4;
        }
    }
}