@import '../../variables.scss';

.user-header {
    font-size: rem(18);
    padding-bottom: rem(70);

    h1 {
        padding-bottom: 1.5rem;
        font-size: rem(48);
        font-weight: 500;
    }

    strong {
        color: $mainColor;
        font-weight: 500;
    }
}