// global variables

// color pallet
// general
$mainColor: hsl(0, 100%, 50%);
$darkenMainColor: darken($mainColor, 5%);
$neutralColor: hsl(0, 0%, 100%);
$secondaryColor: hsl(0, 0%, 0%);
$lightSecondaryColor : hsl(0, 0%, 98%);
$mediumSecondaryColor: hsl(0, 0%, 87%);
$mediumDarkSecondaryColor: hsl(228, 9%, 50%);
$darkSecondaryColor: hsl(203, 9%, 17%);
// elements categories
$caloriesColor: hsl(11, 100%, 49%);
$proteinsColor: hsl(204, 99%, 64%);
$glucidsColor: hsl(48, 97%, 51%);
$lipidsColor: hsl(343, 93%, 65%);

// gestion des rem
$html-font-size: 16px;@function stripUnit($value) {
    @return $value / ($value * 0 + 1);
}
@function rem($pxValue) {
    @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}
