@import '../../variables.scss';



.radialchart-container {
    padding-top: 1rem;
    background-color: $lightSecondaryColor;

    .score-number {
        font-weight: bold;
        font-size: rem(26);
    }

    .score-word {
        font-weight: 500;
    }

    .radialchart {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        width: rem(258);
        height: rem(263);
        padding: 2rem;
        background-color: $lightSecondaryColor;
    
        h3 {
            font-size: rem(15);
            font-weight: 500;
        }

        
    
    }
}