@import '../../../variables.scss';

.sessionslinechart-container {
    background-color: $mainColor;

    .tooltip {
        font-size: rem(8);
        font-weight: bold;
        padding: .4rem;
        color: $secondaryColor;
        background-color: $neutralColor;
        border: none;
    }
}