@import '../../variables.scss';

$barWidth : rem(117);

.vertical-nav {
    position: relative;
    grid-area: nav;
    top:0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: $barWidth;
    // height: calc( 100vh - rem(91));
    background-color: $secondaryColor;
    color: $lightSecondaryColor;

    .navigation {
        display: flex;
        flex-flow: column wrap;
        gap: 1rem;
    }

    p {
        position: absolute;
        bottom: 2rem;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        justify-self: flex-end;
    }
}